:root {
  --background: #ffffff;
  --text: #0a0808;
  /* --accent1: rgb(233, 222, 241); */
  --accent1: #b7b7a4;
  --accent2: #fff1e6;
  --accent3: #f0efeb;
  --accent4: #eddcd2;

  --accent5: #ddbea9;
  --accent6: #7e7e6b;
  /* rgb(126, 126, 107); */
  --accent7: #cb997e;
}
body {
  margin: 0;
  scroll-behavior: smooth;
  background-color: #e8e3d8;
  color: black;
  background-repeat: repeat;
  background-size: 70%;
  padding-bottom: 20px;
  padding-top: 70px;
  font-family: "Noto Serif Display", serif;
}

.heroTag {
  display: none;
}

.imageContainer {
  height: 430px;
  width: 430px;
  margin: 8% 15% 0% 0% ;
  position:relative; 
}

svg {
  z-index: 15;
  margin-top: -15%;
  position: absolute;
}

.heroImg {
  border-radius: 50% 50% 0 0;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12%;
}

.headertext {
  width: 60%;
}

path {
  fill: transparent;

}

text {
  font-size: 25px;
}

.aboutMe {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12%;
  /* height: 100vh; */
}

.aboutLeftPanel {
  width: 50%;
}

.aboutRightPanel {
  width: 50%;
}

.aboutHeader {
  margin: 0% 0% 3% 30%;
  font-size: 72px;
  font-weight: 400;
}

.aboutTxt {
  margin: 0% 5% 0% 30%;
  font-size: 22px;
  font-weight: 300;
}
button {
  color: black;
  border: 1px solid black;
}
.collapsible {
  border-style: none;
  background-color: #e8e3d800;
  cursor: pointer;
  margin: 17% 0% 0% 17%;
  width: 200px;
  height:30px;
  text-align: left;
  font-size: 22px;
  font-weight: 500;
  font-family : inherit;
}

.collapsible:after {
  content: '\002B';
  float: right;
  margin-left: 5px;
}

.active:after {
  font-family : inherit;
  content: "\2212";
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 70%;
  margin: 2% 0% 0% 18%;
  font-weight: 300;
}

.edu {
  margin: 3% 0% 0% 17%;
}

.headerstart {
  margin: 25% 0% 0% 25% ;
  font-size: 96px;
  font-weight: 300;
}

.headername{
  margin: 0% 0% 0% 45% ;
  font-size: 144px;
}
.contact {
  display: flex;
  justify-content: center;
  padding-bottom: 10%;
  /* height: 100vh; */
}
.contactContent {
  text-align: center;
  width: 45%;
  border-radius: 25px;
  border: 1px solid black;
  padding: 5% 0% 5% 0%;
}
.contactHeader {
  margin: 0% 0% 3% 0%;
  font-size: 72px;
  font-weight: 400;
}
.contactTxt {
  margin: 0% 20% 0% 20%;
  font-size: 22px;
  font-weight: 300;
}
.contactButton {
  margin-top: 5%;
  padding: 10px 30px;
  border-radius: 25px;
  background-color: #e8e3d800;
  cursor: pointer;
  font-family: inherit;
}

.nav {
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 4rem;
  z-index: 20;
  background-color: #e8e3d8;
  border-bottom: 1px solid black;
}

.nav li,
.footer li {
  list-style-type: none;
  padding: 10px;
}

ul.no-bullets {
  list-style-type: none; 
  /* margin: 0; */
  padding: 0;
}
@media screen and (min-width: 1700px) {

  .imageContainer {
    margin: 10% 20% 0% 0%;
  }   

}
@media screen and (max-width: 1300px) {

  .headerstart {
    margin-left: 20%;
    
  }
  .headername{
    margin-left: 40%;
  }
  .aboutHeader {
    font-size: 64px;
  }
  .contactHeader {
    font-size: 64px;
  }


}


@media screen and (max-width: 1180px) {

  .headerstart {
    margin: 30% 0% 0% 15%;
    
  }
  .headername{
    font-size: 132px;
  }

  .imageContainer {
    margin: 8% 8% 0% 0%;
  }   
  .aboutTxt {
    font-size: 20px;
  }
  .contactTxt {
    font-size: 20px;
  }
  .collapsible {
    margin: 19% 0% 0% 17%;
  }
  .edu {
    margin: 3% 0% 0% 17%;
  }

}

@media screen and (max-width: 1040px) {

  .headerstart {
    font-size: 84px;
  }
  .headername{
    font-size: 120px;
  }
  .imageContainer {
    height: 400px;
    width: 400px;
  }
  
  
}

@media screen and (max-width: 975px) {
  .imageContainer {
    margin: 8% 7% 0% 0% ;
  }
  .collapsible {
    margin: 27% 0% 0% 17%;
  }
  .edu {
    margin: 3% 0% 0% 17%;
  }
  .aboutLeftPanel {
    width: 60%;
  }
  
  .aboutRightPanel {
    width: 40%;
  }
  .content {
    font-size: 16px;
  }

}
@media screen and (max-width: 950px) {

  .headerstart {
    /* margin: 40% 0% 0% 15%; */
    font-size: 80px;
  }
  .headername{
    font-size: 114px;
  }
  .imageContainer {
    height: 380px;
    width: 380px;
    /* margin: 8% 7% 0% 0% ; */
  }


}
@media screen and (max-width: 900px) {

  .headerstart {
    font-size: 72px;
  }
  .headername {
    font-size: 100px;
  }
  .imageContainer {
    height: 350px;
    width: 350px;
  }
  .collapsible {
    margin: 30% 0% 0% 17%;
  }
  .edu {
    margin: 3% 0% 0% 17%;
  }
  .contactContent {
    width: 60%;
  }
  .contentTxt {
    font-size: 18px;
  }

}

@media screen and (max-width: 800px) {
  
  .headerstart {
    font-size: 72px;
  }
  .headername{
    font-size: 100px;
  }
  .imageContainer {
    margin: 8% 5% 0% 0%;
    height: 320px;
    width: 320px;
  }
 
}

@media screen and (max-width: 760px) {

    .hero {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }
    .heroTag {
      display: inline;
      width: 50%;
      text-align: center;
      align-self: center;
      font-size: 18px;
    }
    .headertext {
      width: 100%;
      z-index: 10;
      
    }
    svg {
      display: none;
    }
    .headerstart {
      margin: 5% 0% 0% 25%;
      font-size:32px;
      font-weight: 300;
      font-style: italic;
    }
    .headername{
      margin: 0% 0% 0% 30% ;
    }
    .imageContainer {
      width: 100%;
      margin: 15px 0px 0px 0px;
      height: 350px;

    }

.aboutMe {
  display: inline;

}
.aboutLeftPanel {
  width: 100%;
}

.aboutRightPanel {
  width: 100%;
}
.collapsible {
  margin: 5% 0% 0% 15%;
  padding: 0%;
}
.edu {
  margin: 3% 0% 0% 15%;
}
.aboutHeader {
  margin: 0% 0% 0% 15%;
  font-size: 64px;
  font-weight: 400;
}

.aboutTxt {
  margin: 0% 15% 0% 15%;
  font-size: 22px;
  font-weight: 300;
}
.contact{
  padding-top: 12%;
}
.contactContent {
  width: 70%;
}

}


@media screen and (max-width: 600px) {
  .heroTag {
    width: 60%;
  }
  .headerstart {
    margin: 5% 0% 0% 20%;
  }
  .headername{
    margin: 0% 0% 0% 25% ;
  }
  .contactHeader {
    font-size:54px;
  }
  .contactTxt {
    font-size:18px;
  }

}

@media screen and (max-width: 480px) {

  .heroTag {
    width: 90%;
    font-size: 14px;
  }
  .headerstart {
    margin: 15% 0% 0% 20%;
    font-size:32px;
    font-weight: 300;
    font-style: italic;
  }
  .headername {
    margin: 0% 0% 0% 25%;
  }
  .imageContainer {
    width: 300px;
    height:300px;
    align-self: center;

  }
  .collapsible {
    margin: 5% 0% 0% 10%;
  }
  .edu {
    margin: 3% 0% 0% 10%;
  }
  .aboutHeader {
    margin: 0% 0% 0% 10%;
  }
  .aboutTxt {
    margin: 0% 10% 0% 10%;
    font-size:18px;
  }


}

@media screen and (max-width: 440px) {

  .headerstart {
    margin: 5% 0% 0% 15%;
    font-size:32px;
    font-weight: 300;
    font-style: italic;
  }
  
}
@media screen and (max-width: 400px) {

  .headerstart {
    margin: 5% 0% 0% 10%;
    font-size:32px;
    font-weight: 300;
    font-style: italic;
  }
  .headername {
    margin: 0% 0% 0% 20%;
  }

  @media screen and (max-width: 330px) {

    .headername {
      font-size: 82px;
    }
    .aboutHeader, .contactHeader {
      font-size: 54px;
    }
    .contactContent {
      width: 80%;
    }
    .aboutTxt{
      font-size: 16px;
    }
    .contactTxt {
      font-size: 14px;
      padding-bottom: 5px;
    }

  }
 
}
