:root {
  --background: #ffffff;
  --text: #0a0808;
  /* --accent1: rgb(233, 222, 241); */
  --accent1: #b7b7a4;
  --accent2: #fff1e6;
  --accent3: #f0efeb;
  --accent4: #eddcd2;

  --accent5: #ddbea9;
  --accent6: #7e7e6b;
  /* rgb(126, 126, 107); */
  --accent7: #cb997e;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  background-color: #e8e3d8;
  /* #122220; */
  color: black;
  background-repeat: repeat;
  background-size: 70%;
  padding-bottom: 20px;
  padding-top: 70px;
  font-family: "Noto Serif Display", serif;
}
.aboutTxtMin {
  display: none;
}

.imageContainer {
  /* margin-right: 20px; */
  height: 500px;
  width: 500px;
  margin: 100px 100px 0px 0px;
}

img {
  border-radius: 50% 50% 0 0;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.about {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.text {
  width: 55%;
}

.header {
  margin: 200px 0px 0px 150px;
  font-size: 80px;
  font-style: italic;
  font-weight: 300;
}

.aboutTxt {
  margin-left: 150px;
  font-size: 22px;
}

.nav {
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 4rem;
  z-index: 20;
  background-color: #e8e3d8;
  border-bottom: 2px solid black;
}

.nav li,
.footer li {
  list-style-type: none;
  text-decoration: none;
  padding: 10px;
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1360px) {
}

@media screen and (max-width: 1300px) {
  .imageContainer {
    height: 450px;
    width: 450px;
  }
}

@media screen and (max-width: 1180px) {

  .header {
    margin: 200px 0px 0px 70px;
    font-size: 70px;
  }
  .imageContainer {
    margin: 100px 50px 0px 0px;
  }

  .aboutTxt {
    margin-left: 70px;
    font-size: 18px;
  }

}

@media screen and (max-width: 1140px) {

  .imageContainer {
    height: 400px;
    width: 400px;
  }
}

@media screen and (max-width: 1000px) {
  .text {
    width: 50%;
  }
}
@media screen and (max-width: 940px) {

  .header {

    font-size: 60px;
  }
  
}

@media screen and (max-width: 900px) {

  .imageContainer {
    height: 350px;
    width: 350px;
    margin: 150px 50px 0px 0px;
  }
/*  */
}

@media screen and (max-width: 890px) {
}

@media screen and (max-width: 870px) {
}
@media screen and (max-width: 830px) {

  .header {

    font-size: 50px;
  }
  .aboutTxt {

    font-size: 17px;
  }
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 750px) {

  .header {

    font-size: 45px;
  }
  .aboutTxt {

    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  /* body {
    background-color: blue;
  } */
  .aboutTxt {
    display: none;
  }

    .about {

      display: flex;

      justify-content: center;
      flex-direction: column;
    }
    .aboutTxtMin {
      display: inline;
      width: 50%;
      text-align: center;
      align-self: center;
    }
    .text {
      width: 100%;
      z-index: 10;
    }
  
    .header {
      margin: 0px;
      font-size: 70px;
      font-style: italic;
      font-weight: 300;
      text-align: center;

    }
    .imageContainer {
      width: 100%;
      margin: 30px 0px 0px 0px;
    }
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 600px) {

  .aboutTxtMin {
    width: 60%;
  }
}

@media screen and (max-width: 480px) {
  .header {
   
    font-size: 45px;
    margin-top:130px;

  }
  .aboutTxtMin {
    width: 90%;
  }
  .imageContainer {
    width: 300px;
    height:300px;
    align-self: center;
    margin: 35px 0px 10px 0px;
  }
}
